.sidenav---sidenav---_2tBP{
    background: #313644 !important;
    top: 90px;
  }
  .ToggleComponent{
    color:#fff;
    cursor: pointer;
  }
  .sidenav---highlighted---oUx9u{
    border-left: solid 3px #2196f3 !important;
  }